/* estilos generales */
*{
    padding: 0px;
    margin: 0px;
}

/* primer seccion */
.section-1{
    /* background-color: rgb(76, 76, 153); */
    background: rgb(66,66,142);
background: linear-gradient(90deg, rgba(66,66,142,1) 36%, rgba(64,126,139,1) 100%);
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,88,163,1) 35%, rgba(0,212,255,1) 100%); */
}

/* foto de perfil */
.perfil-foto{

    width: 280px;
    margin: 40px;
    border-radius: 120px;
    transition: width 0.3s ease, border 0.3s ease, cursor 0.5s ease;
}

/* cuando se pasa el mouse por encima de la foto */
.perfil-foto:hover{
    width: 380px;
    /* border: solid rgb(255, 255, 255) 4px; */
    cursor: pointer;
}

/* estilos del titulo principal */
.titulo-nombre{
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilos para el contenedor "article-1" */
.article-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilos para el contenedor "article-2" */
.article-2{
    margin-top: 90px;
    /* background-color: brown; */
    padding-left: 55px;
    padding-right: 55px;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* estilos para el h2 del segundo article */
.article-2 h2{
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilos para el parrafo del segundo article */
.article-2 p {
    margin-top: 25px;
    color: white;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* estilos para el contenedor "article-3" */
.article-3{
    margin-top: 90px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 135px;
}

/* estilos para los divs dentro del article 3 */
.article-3 div {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s ease;
    transition: border-radius 0.3s ease;
}

.article-3 div:hover p{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article-3 div:hover{
    background-color: white;
    border-radius: 10px;
}

/* estilos para los iconos */
.article-3 div img {
    width: 40px;
    padding-right: 20px;
}


/* estilos para el titulo de contacto */
.article-3 h2 {
    padding-bottom: 20px;
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* estilos para los parrafos del article 3 */
.article-3 p {
    color: white;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.3s ease;
    transition: padding-top 0.3s ease, padding-bottom 0.3s ease;
}

/* .article-3 p:hover {

} */



/* Seccion 2 */
.article-4{
    margin-top: 90px;
    /* background-color: brown; */
    padding-left: 55px;
    padding-right: 55px;
}

.article-4 h2{
    color: rgb(34, 32, 32);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-4 h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-4 p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px ;
    font-size: 18px;
}

.article-4  ul{
    list-style-type: none;
}

.article-5 {
    margin-top: 90px;
    /* background-color: brown; */
    padding-left: 55px;
    padding-right: 55px;
}

.article-5 h2{
    color: rgb(34, 32, 32);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-5 h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.article-5 p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px ;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
}

.article-5  ul{
    list-style-type: none;
}




.article-6 {
    /* background-color: rgb(76, 76, 153); */
    margin-top: 50px;
    padding-top: 45px;
    padding-bottom: 180px;
    padding-left: 55px;
    padding-right: 55px;
}

.article-6 h2{
    color: rgb(34, 32, 32);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article-6 h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.article-6 p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px ;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
}

.article-6  ul{
    list-style-type: none;
}




